@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100vh; */
    
}

body, html {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.main-container{
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container {
    gap: 20px;
    /* height: 500px; */
    width: 500px;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px .5px 4px rgba(173, 51, 51, 0.634);
}
.button-options{
    width: 100%;
    display: flex;
    justify-content: space-between;        
    gap: 10px;
}
.ask-ai{
    padding: 5px 10px;
    background: #98476a;
}
h2{
    color: #912755;
    font-size: 2.2rem;
}